services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: payment
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./src/main/resources/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
